<% provide :title, @user.name %>

<div id="barramenu">
  <nav>

      <%=link_to image_tag("Icon/ProfiloIcon.png"), :action => "show"  %>
      <%=link_to image_tag("Icon/AmiciIcon.png"),:action => "amici" %>
      <%=link_to image_tag("Icon/GalleryIcon.png"), :action => "gallery" %>
      <%=link_to image_tag("Icon/MessaggiIcon.png"), :action => "messaggi" %>
      <%=link_to image_tag("Icon/BirrificioIcon.png"), :action => "il_mio_birrificio" %>
      <%=link_to image_tag("Icon/InCantinaIcon.png"),  :action => "in_cantina" %>
      <%=link_to image_tag("Icon/GustaIcon.png"), :action => "gusta" %>
      <%=link_to image_tag("Icon/MercatinoIcon.png"), :action => "mercatino" %>
      <%=link_to image_tag("Icon/GruppiIcon.png"), :action => "gruppi" %>

  </nav>

</div>