<% provide :title, 'Dettaglio' %>

<div id="img_dettaglio">
  <%= image_tag ("InCantinaDettaglio.png") %>
</div>



<% if current_user.id != @user1.id %>
<div id="votazione">

  <ul>
    <li><h4>VOTA</h4></li>
    <li><%= link_to 'Hate it!', { :action => "dettaglio_incantina", :controller => "users" }%> </li>
    <li><%= link_to 'Don\'t like it!', { :action => "dettaglio_incantina", :controller => "users" }%> </li>
    <li><%= link_to 'Like it!', { :action => "dettaglio_incantina", :controller => "users" }%> </li>
    <li><%= link_to 'Love it!', { :action => "dettaglio_incantina", :controller => "users" }%> </li>
  </ul>

</div>
<% else %>

  <% end %>