<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Registrati' %>

<h1 id="registrati">Registrati</h1>

<div class="row">
 <div class="span5 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%# <%= f.label :nome %>
        <p><label for="name">Nome</label>
        <%= f.text_field :name, :size => 10 %>
        </p>

        <%= f.label :cognome %>
        <%= f.text_field :name %>

        <%= f.label :data_di_nascita %>
        <%= f.text_field :name %>

        <%= f.label :città %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, 'Conf. Password' %>
        <%= f.password_field :password_confirmation %>

        <%= f.label :chi_sei_? %>
        <%= f.radio_button :name, '1', :checked => true %> Appassionato di birra
        <br>
        <%= f.radio_button :name, '2' %> Homebrewer
        <br>
        <%= f.radio_button :name, '3' %> Mastro Birraio
        <br>
        <br>

        <%= f.submit 'Registra', class: 'btn btn-large btn-primary' %>
    <% end %>
 </div>
</div>
