<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Registrati' %>

<h1 id="arancione">Registrati</h1>

<div class="row">
 <div class="span5 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%# <%= f.label :nome %>
        <p><label for="name">Nome</label>
        <%= f.text_field :name, placeholder: 'Inserisci nome' %>
        </p>

        <%= f.label :cognome %>
        <%= f.text_field :name, placeholder: 'Inserisci cognome' %>

        <%= f.label :data_di_nascita %>
        <%= f.text_field :name, placeholder: 'gg/mm/aaaa' %>

        <%= f.label :città %>
        <%= f.text_field :name, placeholder: 'Inserisci città in cui vivi' %>

        <%= f.label :email %>
        <%= f.text_field :email, placeholder: 'Inserisci indirizzo email' %>

        <%= f.label :password %>
        <%= f.password_field :password, placeholder: 'Inserisci password' %>

        <%= f.label :password_confirmation, 'Conf. Password' %>
        <%= f.password_field :password_confirmation, placeholder: 'Conferma password' %>

        <%= f.label :chi_sei_? %>
        <%= f.radio_button :name, 'Appassionato di birra', :checked => true %> Appassionato di birra
        <br>
        <%= f.radio_button :name, 'Homebrewer' %> Homebrewer
        <br>
        <%= f.radio_button :name, 'Mastro Birraio' %> Mastro Birraio
        <br>
        <br>

        <%= f.submit 'Registra', disable: true, class: 'btn btn-large btn-primary' %>
    <% end %>
 </div>
</div>
