<% provide :title%>
<div id="banner">

  <div id="nomeutente">
    <h3> <%= @user.name %> </h3>
  </div>
  <div id="infoutente">
    <h3 id="infoutente"> - <%= @user.chisei %> -  </h3>
  </div>
  <div id="punteggioutente">
    <h2 id="punteggioutente"> <%= @user.punteggio.to_i %> Punti  </h2>

  </div>
</div>

<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, @user.name %>

<div class="row">
  <aside class="span4">
    <section>
      <%#  <h1>
         <%= gravatar_for @user %>
      <%#  <h1>
     <%= @user.name %>

      <%#  <h1>
 </h1>           %>
      <% if current_user.following?(@user) %>
          <div id="barramenu_amico">

            <nav id="icone_amico">
              <ul>

                <li><%= link_to image_tag("Icon/ProfiloIcon.png", :size => "50x50"), @users %>   </li>
                <li><%= link_to image_tag("Icon/AmiciIcon.png", :size => "50x50"), { :action => "amici", :controller => "users" }%> </li>
                <li><%= link_to image_tag("Icon/GalleryIcon.png", :size => "50x50"),{ :action => "gallery", :controller => "users" }%> </li>
                <li><%= link_to image_tag("Icon/MessaggiIcon.png", :size => "60x60"), { :action => "messaggi", :controller => "users" }%> </li>
                <li><%= link_to image_tag("Icon/BirrificioIcon.png", :size => "50x50"), { :action => "il_mio_birrificio", :controller => "users" }%> </li>
                <li><%= link_to image_tag("Icon/InCantinaIcon.png", :size => "70x70"), { :action => "in_cantina", :controller => "users" }%> </li>
                <li><%= link_to image_tag("Icon/GustaIcon.png", :size =>"40x40"), { :action => "gusta", :controller => "users" } %> </li>
                <li><%= link_to image_tag("Icon/MercatinoIcon.png", :size => "60x60"), { :action => "mercatino", :controller => "users" }%> </li>
                <li><%= link_to image_tag("Icon/GruppiIcon.png", :size => "40x40"), { :action => "gruppi", :controller => "users" }%> </li>

              </ul>
            </nav>

          </div>
      <% end %>

    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <% # since we are in a Users view, we need to specify that the pagination is for the posts %>
      <% will_paginate @posts %>
    <% end %>


</div>
   </div>