<div id="nomeutente">
  <h3> <%= @user.name %> </h3>
</div>

<div id="infoutente">
  <h3 id="infoutente"> - <%= @user.chisei %> -  </h3>
</div>

  <nav id="tagutente">
  <ul>
   <li>
     <% if !@user.tag1.blank? %>
        <%= link_to @user.tag1, { :controller => "users", :action => "search_tag", :search_tag => @user.tag1}  %>
    <% end %>
     </li>
    <li><% if !@user.tag2.blank? %>
        <%= link_to @user.tag2, { :controller => "users", :action => "search_tag", :search_tag => @user.tag2} %>
    <% end %></li>
    <li><% if !@user.tag3.blank? %>
        <%= link_to @user.tag3, { :controller => "users", :action => "search_tag", :search_tag => @user.tag3} %>
    <% end %></li>
  </ul>
  </nav>


<div id="punteggioutente">
  <h2 id="punteggioutente"> <%= @user.punteggio.to_i %> Punti  </h2>
   </div>

